[2020-10-29 22:40] pihome-shc opened #4 "forum software for community"
i have moved website from blacknight to godady but unfortunately godady don't support Discourse out of the box, may be there is a way to install manually.

out of the box available options
![image](https://user-images.githubusercontent.com/33334232/97639678-f1125a00-1a36-11eb-914d-47f12d7a9ae3.png)

[2020-10-30 03:12] sandreialexandru commented on #4
There is no need to host a forum.
1. Install the Discord app
![Screenshot_20201030_050921](https://user-images.githubusercontent.com/45868553/97655660-4c137380-1a6e-11eb-9071-55e8e3c48558.jpg)
2. Create account
3. Use the invite code that I provided to join an existing server.

[2021-01-19 15:29] twa127 opened #27 "Update"
Hi,

I've now added an option to display ON/OFF graphs for the Add-On Zone Controllers.

This version has now been operational on my home central heating system for over 10 days, without any major issues. All the mode functions are operational ie OFF, TIMER, HEATING ON, HW ON or BOTH ON.

Still needs some work on the 'Live Temperature' feature, but I would appreciate any feedback if anyone is brav

[2021-02-03 21:13] pihome-shc opened #34 "Cronjob management from GUI"
i think worth working on this issue.
https://github.com/pihome-shc/pihome/issues/327
@sandreialexandru gave some good suggestions.

[2021-02-09 15:27] twa127 commented on #34
Hi,

building on @sandreialexandru code, so that the list of jobs gets build from the table, rather than hardcoded, changed jobs table column 'name' to 'job_name'  -

# Schedule Library imported
import schedule
import time
import os
import configparser
import MySQLdb as mdb

# Initialise the database access variables
config = configparser.ConfigParser()
config.read("/var/www/st_inc/db_config.ini")

[2021-02-09 16:44] twa127 commented on #34
Suggest that the python script is installed as a service and can be monitored by the existing services GUI

Adding new scheduled tasks or modifying run times is simply and addition or update to the table and a service restart, would need a new GUI in settings to support the new jobs table.

[2021-02-09 17:43] twa127 opened #38 "Board Support"
Hi,

Have now tested with -

Raspberry Pi  3, 4 and Zero running Raspbian
BeagleBone Green and Black running Debian Buster
Banana Pi M2 Zero running Armbian
Orange Pi Zero, Zero LTS, Zero Plus2-H5 running Armbian
Orange Pi Zero 2 running Debian Buster

Where it was missing I've added support for these boards in the Adafruit-PlatformDetect and Adafruit-Blinka repositories.

[2021-02-12 23:46] pihome-shc opened #42 "Bug-Missing e-mail address!!!"
Issue with email is still there, i think something is not working with model, may be best to have page to redirect user?

https://github.com/pihome-shc/pihome/issues/440

[2021-02-12 23:59] pihome-shc opened #43 "General Issues"
This thread to discuss general issues,

[2021-02-13 00:05] pihome-shc commented on #34
question: user who install MaxAir with setup.php gets pip3 install schedule or user needs to install this ?

[2021-02-13 00:45] pihome-shc commented on #43
relay.php ->Relay ID Node ID for the Relay
it is showing table id rather then actual id

![image](https://user-images.githubusercontent.com/33334232/107836345-b4276480-6d94-11eb-981e-b4c4e7ddf070.png)

[2021-02-13 08:37] twa127 commented on #34
If not already installed, then setup.php will install it automatically

________________________________
From: PiHomeHVAC <notifications@github.com>
Sent: 13 February 2021 00:05:52
To: pihome-shc/PiHomeHVAC
Cc: Terry Adams Software Systems; Comment
Subject: Re: [pihome-shc/PiHomeHVAC] Cronjob management from GUI (#34)

question: user who install MaxAir with setup.php gets pip3 install schedule or

[2021-02-13 21:40] pihome-shc commented on #34
what else i need to do to make this work? also i see only script location in settings but nothing about program location i.e if i m running php script i need to specify php install location or that is hard coded?
/usr/bin/php /var/www/cron/weather_update.php

[2021-02-13 22:13] twa127 commented on #34
Hi,

You specify the script eg /var/www/cron/weather_update.php and the code extracts whatever comes after the '.' character eg php or sh, it then uses this to determine what program to use /usr/bin/php or /usr/bin/bash

[2021-02-14 11:17] twa127 commented on #43
Just thought that was a bit more informative, the form stores the correct data in the table

[2021-02-14 12:35] pihome-shc commented on #43
But if user have multiple controller then there is no way of telling which one is which, i think having node id is better

[2021-02-14 12:49] twa127 commented on #43
I don't see multiple controllers being an issue, the reason for displaying the id is that this is the value stored in the controller_relays table, not the node_id

[2021-02-15 10:20] twa127 opened #44 "Frost Protection"
The way that frost protection operates needs to be changed for version 2. The reason is that typical configurations will only have 2 zones eg Central Heating and Hot Water but may have temperature sensors located in other parts of the property. In such cases the user may want to provide frost protection based on a temperature sensor not allocated to either the Central Heating or Hot Water zone. Ad

[2021-02-15 10:45] sandreialexandru commented on #44
Frost controller is a clever idea for situations like yours. Would it be possible to not activate any controller?

[2021-02-15 11:24] twa127 commented on #44
Hi,

From the GUI point of view it is not a problem, but the main processing loop in controller.php (boiler.php) works on zones with a status=1, so without some major ish work it could prove difficult

[2021-02-15 13:59] sandreialexandru commented on #44
So is it mandatory to have a zone controller?

[2021-02-15 15:27] twa127 commented on #44
If the frost temperature is set to 0 then frost protection is not active for that sensor and no controller is attached. If frost temperature is any non zero value then you have to attach a controller. This is basically the same as the existing version 1 frost protection, except that each zone can have its independent frost temperature.

What you can't have is a sensor enabled for frost protection

[2021-02-15 17:05] sandreialexandru commented on #44
Can a controller be a wired/wireless zone controller or a RPi?

[2021-02-15 17:37] twa127 commented on #44
Yes no change from previous version, they are added/edited from the Relays menu, which works in a similar manner as the Sensors menu

[2021-02-15 19:41] pihome-shc commented on #44
@twa127 very good work, what blue and red dot mean on frost protection status tile and in model?

[2021-02-15 19:42] pihome-shc commented on #43
i think its better to show node_id rather table id. as end user dont have visibility to table structure

[2021-02-15 20:12] twa127 commented on #44
blue = frost protection not active
red = frost protection active, in the model shows if a particular sensor is frost protecting

[2021-02-15 20:40] pihome-shc commented on #44
Red when calling for heat. and blue or orange for normal (not calling for heat)

[2021-02-15 20:51] twa127 commented on #43
okay it has some knock on effects, I'll work on it

[2021-02-16 08:56] twa127 commented on #44
okay, I'll leave as red and blue

[2021-02-16 09:06] twa127 opened #47 "System Controller Max Running Time"
At the moment the Max Running Time variable is not being used. I think we need to define how it will operate or drop the feature.

Any thoughts ?

[2021-02-16 09:12] twa127 opened #48 "Night Climate Mode"
At the moment a Min and Max temperature are set in the Night Climate GUI, but the system only ever uses the Min value to set a target temperature value. We need to decide if we want to keep using a single target value or to work within a temperature band.

Any thoughts

[2021-02-16 09:55] sandreialexandru commented on #47
Max Running Time should be used to protect boiler.
Example: Boiler is running untill max running time condition is met, then boiler stops. After hysteresis time passes, boiler can run again.

[2021-02-16 09:58] sandreialexandru commented on #48
I'd go with only one target temperature, considering that, even in this case, the temperature still varies 1°-2°

[2021-02-16 10:23] twa127 commented on #47
I monitor the flow and return temps on my boiler as shown below, if a cold day and zone temp is never reached , then boiler would not switch off until the schedule completes as indicated by the flow temperature. By implementing some max running time the zone temperature control of the system would be overridden. As a follow on - how would we choose the value for max running time ?

![boiler](https

[2021-02-16 11:21] sandreialexandru commented on #47
Considering that every system is different, I would say that max running time should be user input.

[2021-02-16 12:08] sandreialexandru commented on #47
_By implementing some max running time the zone temperature control of the system would be overridden_
The override would only be active until hysteresis passes.

[2021-02-16 12:09] twa127 commented on #47
hi,

Struggling to see what level of protection this give, say max run time is 60 mins, and hysteresis is 3 min, then you get a 3 min blip every 60 mins, also what would happen to any active zone controllers, would overrun kick in or not ?

[2021-02-16 12:32] sandreialexandru commented on #47
You have a point! My boiler already has a "restart after certain time" option. I too agree that max running time would be redundant.

[2021-02-16 12:41] twa127 commented on #47
:-) I've been running PiHome for some time now and not yet found a need for this feature, but perhaps there are some configurations where it might be needed.

[2021-02-16 12:43] twa127 commented on #48
Maybe Min and Max are a bit more sensible for a HVAC system

[2021-02-16 13:34] twa127 commented on #43
I think this issue is now resolved

[2021-02-17 13:17] twa127 commented on #42
Still not fixed, looks like the issue is related to $_SESSION['user_id'] not getting set properly, then the check in footer.php fails because it has no valid $user_id when checking the table user. Leading on from this, as far as I can see, there is no way to add new users, but you can delete the one existing user.

[2021-02-17 18:40] twa127 commented on #42
Latest change appears to have fixed the problem, I've committed the same update to pihome

Please let me know if you still experience issues

[2021-02-17 21:14] pihome-shc commented on #48
i agree, we need min and max other wise night client and full night schedule aren't any different

[2021-02-17 21:14] #43 closed

[2021-02-18 14:24] twa127 opened #53 "User Account Management"
Hi,

At the moment user account management is limited to password change and account deletion, there is no facility to add new user accounts or edit existing account detail.

I have implemented a change to facilitate adding and editing user account detail. This is based around a single multi-functional GUI, the example below is the 'edit' mode, where the user details can be change, a password chan

[2021-02-18 19:39] pihome-shc commented on #53
one suggestion: user can not delete itself

[2021-02-18 22:13] twa127 commented on #53
Implemented #55

[2021-02-18 22:25] twa127 commented on #53
I guess the backup, users, support and settings fields in the user table was to allow users restricted access to the system

[2021-02-18 22:44] pihome-shc commented on #53
in early days i had plan to implement permission for all modules but i m not sure do we need this?

[2021-02-18 23:34] twa127 commented on #53
I personally don't think we need it at the moment

[2021-02-18 23:47] pihome-shc commented on #53
ok, then lets remove those columns from table,

[2021-02-19 08:50] twa127 commented on #53
How about keeping just 1 field and calling it admin_account for possible future use, this could be used to restrict access to some configuration options for non admin users. eg.
![user_accounts_2](https://user-images.githubusercontent.com/46624596/108480868-64163980-728f-11eb-839a-dff151d951b5.PNG)

[2021-02-19 10:35] twa127 commented on #53
Implemented as #56.

Non admin users cannot change themselves to admin users and they do not have access to the 'Settings' menu option

[2021-02-19 15:32] twa127 commented on #48
Hi,

I'm confused again :-)

I can see that a single temp night climate schedule would be no different to a 'normal' schedule, but I'm struggling to see how a temperature band would work -

If the zone temperature is above the night climate target and falling then the system will turn on at target + deadband and control around the target temp.

If below the night climate target then the system wil

[2021-02-19 19:25] pihome-shc commented on #48
i think you are overthinking this, calling for heat start at min and stop at max off course deadband and weater factor apply as well.

[2021-02-19 19:29] twa127 commented on #48
I've implemented the last last option above where $temp_cut_out = nc_max_c, which should control between min and max night climate temperatures

[2021-02-20 00:44] pihome-shc commented on #53
bit of issue, i did setup new database and admin user info is missing from user table but when i do update_db.php i get following errors

[code]

[2021-02-20 08:49] twa127 commented on #53
Hi
I've not used update_db with this version, I'll investigate

[2021-02-20 09:28] twa127 commented on #53
Please try again after #58

[2021-02-20 15:24] pihome-shc commented on #53
still same result, this time i did setup.php in /var/www/
then after deleting database i run  php setup_db.php from /var/www/MySQL_Database
[code]

[2021-02-20 16:23] twa127 commented on #53
Tried both setup_db.php and update_db.php and they both ran without errors.

Can't understand why you have got the lines inputted after the script finished without error
![error](https://user-images.githubusercontent.com/46624596/108602058-dffba900-7397-11eb-9ef9-6464dfd389bb.PNG)

[2021-02-20 16:36] pihome-shc commented on #53
this time setup worked without any issue but user table is still empty, no error i just did `sudo php  setup.php `may be we do need sudo even if we are logged in as root.
same with /var/www/MySQL_Database/ php setup_db.php works without any error but again user table is empty,

[2021-02-20 16:38] pihome-shc commented on #53
in both instance (setuo.php and setup_db.php) i have following message
2021-02-20 16:32:29 - Creating User Table.
2021-02-20 16:32:29 - DataBase Add User Data Failed

[2021-02-20 16:41] pihome-shc commented on #53
ok found the problem,

2021-02-20 16:40:31 - Creating User Table.
Unknown column 'backup' in 'field list'
2021-02-20 16:40:31 - DataBase Add User Data Failed

[2021-02-20 16:46] pihome-shc commented on #53
User creating query need some changes in setup_db.php on line 170 setup.php on line 183.
[code]

[2021-02-20 16:46] pihome-shc commented on #42
this issue is fixed now.

[2021-02-20 16:46] #42 closed

[2021-02-20 17:00] twa127 commented on #53
Ah okay I'll fix

[2021-02-20 17:08] twa127 commented on #53
Fixed in #61

[2021-02-20 17:45] pihome-shc commented on #53
thank you, i think something i messed up in model.php i can not get to any settings under setting

[2021-02-20 18:02] twa127 commented on #53
I'll re-commit model.php

[2021-02-20 18:39] twa127 commented on #53
I've re-committed, the actual error was caused because I'd truncated line 2131 :-(

[2021-02-20 20:58] pihome-shc commented on #34
suggestion: can we add checkbox to enable cronjob in settings, this way we can add our default jobs but have them disabled and user can enable as required.

[2021-02-21 08:35] twa127 commented on #34
Implemented #63 Initial setup will install the jobs but leave them disabled

[2021-02-21 13:36] twa127 commented on #47
Implemented for non HVAC systems. To disable set max run time to 0, otherwise will run for period set and then switch off for hysteresis time before switching back on. Zone override periods will apply for zone relays.

Please give it a try and let me know what you think

[2021-02-21 13:43] twa127 commented on #34
oops forgot to update the jobs table, icluded in #64

[2021-02-23 07:44] #53 closed

[2021-02-23 07:45] #48 closed

[2021-02-23 07:45] #47 closed

[2021-02-23 07:45] #44 closed

[2021-02-23 07:46] twa127 commented on #34
I think this can now be closed

[2021-02-24 20:41] pihome-shc commented on #34
can we put link to last run status to show it in notepad or something? this would help for any potential troubleshooting

[2021-02-24 20:51] pihome-shc opened #70 "controller.php error"
after starting fresh and created sensors only, and 3 relays for zone and one for boiler:

**result for controller.php**
[code]

after creating my 3 zones i still have error on line 157

[code]

[2021-02-24 20:54] pihome-shc commented on #70
here is my database, db name is pihome_max and i see system_controller.node_id is null
[pihome_v2.zip](https://github.com/pihome-shc/PiHomeHVAC/files/6038789/pihome_v2.zip)

[2021-02-25 18:46] twa127 commented on #70
Hi,

Problem is that id = 2 in system_controller table, change this to 1 and then re-save in the System Controller GUI

[2021-02-25 19:15] twa127 commented on #34
Add display last logs as #72

[2021-02-26 07:52] twa127 commented on #70
I noticed you are using pihome_max as the database name, do you think we need to make a change to the name ?

[2021-02-26 09:20] pihome-shc commented on #70
I have lots of databases on my dev system so i just made new name for version 2. If you think we should change name to maxair i m happy with that as well

[2021-02-26 09:53] twa127 commented on #70
okay I think maxair is the way to go, I'll change the pihome2018 passwords to maxair2021 as well

[2021-02-26 19:53] twa127 opened #74 "Code Update"
Hi

I have an experimental python script to check the installed copy of the repository against the github copy and allow any un-matched files to be updated. Please give it a try BUT BEWARE IT WILL OVERWRITE FILES IN /var/www

[update_code.zip](https://github.com/pihome-shc/PiHomeHVAC/files/6052113/update_code.zip)

[2021-02-27 09:16] pihome-shc commented on #74
I was thinking the possibility of triggering python script from gui to update maxair

[2021-02-27 09:41] twa127 commented on #74
I'll see what i can do, maybe a combined GUI to allow both code and database updates

[2021-02-27 10:35] pihome-shc commented on #74
There was open source php library for web console, it was single file base pho script to open ssh console on web, may be that can be helpful

[2021-02-28 23:02] pihome-shc opened #78 "Home Assistant integration"
@JSa1987 made some changes to the API to allow a better integration with Home Assistant. The idea is for PiHome to still run the whole logic but to be able to monitor the status from Home Assistant.

    getTemperature.php has been changed to return also the sensor battery status, it now returns:
    {"success":true,"state":"19.00","datetime":"2021-02-28 15:23:34","bat_voltage":"2.50","bat_level":

[2021-03-27 20:42] pihome-shc commented on #78
this document is published on PiHome website, https://bit.ly/2QAICFY
thank you @JSa1987 for working on documentation

[2021-03-30 12:36] twa127 commented on #78
Hi,

For PiHomeHVAC I would like to change the name of the getBoiler.php API to getController.php as this makes more for MaxAir is this acceptable?

[2021-03-30 13:51] twa127 commented on #78
Additionally I think that for MaxAir getTemperature.php needs to be changed as we now have temperature sensors which are not attached to zones.

[2021-03-30 14:58] dvdcut opened #100 "Option to Remove Sensors"
no option to remove old sensors that i have for testing from gui, and they are showing in battery graphs with no value and i can see them under setting->node alerts.

[2021-03-30 16:33] twa127 commented on #100
Hi

Settings/Node and Zone Configuration/Sensors has a delete option for each sensor, does this not do what you want?

[2021-04-02 22:37] dvdcut commented on #100
let me redeploy the system and i'll get back to you on this. i copied my nodes table from old system may be it is messing up with my MaxAir setup.

[2021-04-14 22:34] pihome-shc opened #116 "Add Si7021 Humidly Sensor"
For record purpose i m opening this ticket for this addition

Add Si7021 Humidly Sensor, with selection of sensor type in sensors.php + associated database changes

[2021-04-14 22:52] pihome-shc commented on #100
@dvdcut i deployed new setup from github and i dont have any issues, i haven't compared table between version 1 and 2 best to re-deploy your system

[2021-04-14 22:53] pihome-shc commented on #34
no further action required, closing this ticket.

[2021-04-14 22:53] #34 closed

[2021-04-14 22:53] #4 closed

[2021-04-14 22:54] pihome-shc commented on #70
no further action required, closing this ticket.

[2021-04-14 22:54] #70 closed

[2021-04-15 22:34] pihome-shc opened #117 "Bug: Gateway setting"
Further to comments by @dvdcut on Discord
dvdcut — 04/13/2021
on my new setup when i try to add gateway i looks confusing, i know this is once but best to hide fields based on gateway type selection.
after update Bug Fix - Gateway type default set to 'Serial' if gateway table empty #114

**Gui shows no gateway,**
![image](https://user-images.githubusercontent.com/33334232/114946346-eca1f800-9e42-1

[2021-04-15 22:38] pihome-shc commented on #117
update:
as soon as i select serial
![image](https://user-images.githubusercontent.com/33334232/114946698-98e3de80-9e43-11eb-8669-d72ea7324ee9.png)

same goes for wifi but it is wrong ip address,
![image](https://user-images.githubusercontent.com/33334232/114946733-aa2ceb00-9e43-11eb-896a-ba5a2bde15a6.png)

[2021-04-16 19:06] twa127 commented on #117
fix in commit #118

[2021-04-16 21:48] #117 closed

[2021-06-08 21:55] dvdcut opened #141 "LoRa (RFM95) Nodes for better communication"
opening this issue to track LoRa (RFM95) Nodes including Hardware and Software. i m planning to move away from nRF.

[2021-06-09 09:51] twa127 commented on #141
I did my testing using the RF96

[2021-06-09 12:25] pihome-shc commented on #141
I”ll publish this adapter pcb files later, it has support for rfm95/96 and rmf69.
I tested pcb adapter connected to nrf socket with simple ping pong sketch with lora radio.

[2021-06-09 13:34] twa127 commented on #141
I tested with a serial gateway and a single 18650 battery powered temperature sensor, all good

[2021-06-09 20:23] dvdcut commented on #141
did you test with gateway from pihome website or you made your own? i found adapter board you were talking about in old version [pihome website](https://www.pihome.eu/2020/02/16/nrf24l01-to-rfm69cw-rfm69hcw-rfm69w/) which points to [pihome github](https://github.com/pihome-shc/pihome/tree/master/PCB%20Related/PiHome%20RFM69-95%20to%20nRF)
wondering is it straight swap of radio module and update th

[2021-06-09 20:40] twa127 commented on #141
Tested with a home made veroboard gateway and mysensors temperature sensor, previously used with nrf, just updated the sketches and replaced the nrf modules with RF96 mounted on the adapter board.

[2021-06-09 23:14] pihome-shc commented on #141
PCB files are already part MaxAir repo. have look [here ](https://github.com/pihome-shc/PiHomeHVAC/tree/main/PCB%20Related/PiHome%20RFM69-95%20to%20nRF)i know nRF have range issues specially if you have solid walls in between. nrf to rfm adaptor was designed to keep base hardware same and switch the radio.

[2021-07-26 13:24] dvdcut commented on #141
thank you, i will give try to lora modules and open new case if required.

[2021-07-26 13:24] #141 closed

[2021-07-26 13:29] #100 closed

[2021-07-26 13:50] dvdcut opened #152 "Latest Release - MaxAir version update"
Under the System Configuration ->PiHome Update needs to change to MaxAir Update and also code in model needs to change, right now it checks the update location and update file location from system table and read version and compare it.

i suggest we change this to get this information from github by changing update_location to https://github.com/pihome-shc/PiHomeHVAC and update_file to either to f

[2021-07-26 14:05] dvdcut commented on #152
To get latest release from github, we dont have first release for MaxAir so far so i used pihome url for this testing

[code]

[2021-07-27 23:19] pihome-shc commented on #152
i have added rules to firewall for current-release-versions.php and i'll let you know how many times pihome website serve this to users.

[2021-07-30 14:16] twa127 commented on #152
The version number is no longer adequate, as the update status is now dependent on code version, code build number and database version. Commit #156 uses a table to display the info held in both the local and github copies of file st_inc/db_config.ini

[2021-08-04 10:29] twa127 commented on #152
Hi,

#158 - added a function to schedule a check of installed code against GitHub repository and notify if any difference, with the option to install any updated code modules

[2021-08-12 15:24] twa127 commented on #27
Yes I'll close, but think you meant #74 is the same as #152

[2021-08-12 15:24] #27 closed

[2021-08-12 15:25] #74 closed

[2021-08-14 10:11] JSa1987 opened #166 "setup_guide_BOILER_mode.pdf"
Hello,

I'm looking in stalling MaxAir for the first time (fresh install) and I'm a bit confused on what image to use to start.
The setup guide states that the system will be initially setup in AP mode. Does this imply there is a pre-made SD card image that should be used to install MaxAir for the first time?
Or should the standard [Raspberry Pi OS Lite](https://www.raspberrypi.org/software/operat

[2021-08-14 14:53] twa127 commented on #166
Hi,

There is a Raspberry Pi image for free download at https://www.pihome.eu/shop/

[2021-08-30 22:47] pihome-shc opened #180 "Python scripts issue"
error message produced by gateway.py when sensors comes online first time.

[code]
/var/www/logs/main.log file contains following:

[code]
python3 /var/www/cron/find_mygw/find_mygw.py
find gateway goes through the ip address but unable to find gateway ip address.

[2021-09-01 15:22] twa127 commented on #180
Fix the bug when adding new sensor, tested okay now

[2021-09-04 09:32] twa127 commented on #180
I think this issue is now closed

[2021-09-04 21:07] #180 closed

[2021-09-05 19:50] JSa1987 opened #189 "DB Error 1054: Unknown column 'sensors.correction_factor' in 'field list'"
The following code is included in /cron/gateway.py:

[code]

However the _sensors_ table does not have a _correction_factor_ column.
![image](https://user-images.githubusercontent.com/62815008/132139635-18648cfb-09af-48eb-94d9-a48d4312eeb7.png)

This causes the script to crash:
[code]

[2021-09-05 20:08] JSa1987 commented on #189
The reason for this error was that I did not update the database. I started with the image from pihome.eu and then upgraded to the latest version from github... but I had not run apply_database_update.php.

After running apply_database_update.php the gateway.py script works well.

[2021-09-05 20:08] JSa1987 commented on #189
Issue closed.

[2021-09-05 20:08] #189 closed

[2021-09-06 11:53] JSa1987 opened #191 "MQTT integration for AirMax"
Hello all,

This is not an issue, rather just a discussion. However, seems that on this repository there is no option to start a discussion so I put this here.

I would like to start working on a full MQTT integration for AirMax that can support both sensors and relays.

In the settings tab I see there is a MQTT menu, in the database there is an mqtt table and in the \var\www directory there is al

[2021-09-06 12:01] JSa1987 opened #192 "System Controller Settings"
Hello,

I have finally decided upgraded from PiHome to AirMax. :-)

I downloaded the AirMax standard image from pihome.eu, and then upgraded it to the latest revision from github.

After doing so I setup my system. I wanted to feedback that everything went quite well. I however had/have two little issues that I thought was worth reporting as this is a clean installation.

1. When I went to setup t

[2021-09-06 18:26] JSa1987 commented on #192
I have made some progress with regards to the second issue. Found out that when I was clicking the button to change the mode I was getting following error:
[code]
I therefore include `<script type="text/javascript" src="js/request.js"></script>` at the beginning of homelist.php (on line 27) and the button to change mode is now working. Not sure if this is the right spot where to add this.

With re

[2021-09-06 22:04] pihome-shc commented on #191
@JSa1987 for PiHome back in early days @paulcsf did some work on MQTT (https://github.com/pihome-shc/pihome/pull/23) and later @dvdcut tried his best as well https://github.com/pihome-shc/pihome/issues/250

[2021-09-06 22:22] pihome-shc commented on #192
@JSa1987 can you download from dropbox and try this?
**https://www.dropbox.com/s/m32c8xfsny0sui2/RPI_MaxAir_1_00_060921.zip?dl=0**

[2021-09-07 06:41] JSa1987 commented on #192
@pihome-shc thank you! I will try to download this image, flash it to spare SD card, give it a try and feedback.
Just to confirm after using this image I should not upgrade to the latest revision from GitHub?

[2021-09-07 06:41] twa127 commented on #192
Always worth clearing the browser cache.
Try force an update check from Settings/System Configuration/ - MaxAir Update

[2021-09-07 06:43] twa127 commented on #192
The dropbox image contains everything except your last commit, just use Mair Update to get that

[2021-09-07 07:05] JSa1987 commented on #191
I have just read through the pihome#23 and pihome#250. Seems that the work done by @dvdcut was focused on implementing MQTT for MySensors Gateway. I was thinking more of an implementation that can support pull generic sensor data from an MQTT broker and publish a command to actuate a relay.
I have a rough idea in mind of how this could maybe be done: have a python script run in the background subs

[2021-09-07 17:21] JSa1987 opened #195 "WiFi keeps reverting to AP mode"
Hello,

I have a Raspberry Pi Zero W that has been running PiHome well for a couple of years, no issue with the WiFi connection.

A couple of days ago I upgraded to AirMax using the image from pihome.eu and a new SD cars. On the first boot the system came up in AP mode as expected, I picked the SSID of my WiFi and entered the password. Instead of connecting to my WiFi it came up again in AP mode.

[2021-09-07 19:11] twa127 commented on #195
edit index.php and at line 86 enter $no_ap = 0;

I'll investigate the issue

[2021-09-07 19:28] twa127 commented on #195
Just tried my RPi 3B and it worked fine - booted, then connected to MaxAirHotSpot, browsed to 192.168.50.5, selected my local router, entered password, clicked on 'Set and Restart', lost connection to the hotspot, reconnected to local router, the RPi then had a wifi connection and I was able to logon as normal.

[2021-09-07 19:34] twa127 commented on #195
to uninstall autohotspot function enter 'sudo bash /var/www/add_on/Autohotspot/autohotspot-setup.sh' and select option 4

[2021-09-07 20:22] JSa1987 commented on #195
@twa127 I tired to edit index.php adding `$no_ap = 0;` at line 86, but that didn't help. All it did was that when operating as AP it would show the log in page at 192.168.50.5 instead of the menu to select the SSID.

I the run `bash /var/www/add_on/Autohotspot/autohotspot-setup.sh` and selected option 6 (Autohotspot: Force to a Hotspot or Force to Network if SSID in Range) and that solved the issu

[2021-09-07 20:29] twa127 commented on #195
use option 4 to remove the hotspot function altogether, then just config wpa_supplicant.conf as normal

[2021-09-07 20:31] twa127 commented on #195
also check network_settings table and make sure ap_mode is set to 0

[2021-09-07 22:46] pihome-shc commented on #191
@JSa1987 sure, let me know if i can be any help even though i have limited knowledge of python

[2021-09-08 17:18] JSa1987 commented on #195
You are right, it's easier just to uninstall the hotspot function. I did that and it's now working well.

[2021-09-08 17:18] #195 closed

[2021-09-08 17:34] JSa1987 commented on #192
Hello,

I have started with a fresh image (RPI_MaxAir_1_00_060921.zip) , the forced an update check (from Settings/System Configuration/ - MaxAir Update) and then cleared the cache of my browser.
This fixed the second issue and I am now able to switch between moded.

With regards to the first issue when in System Controller Settings window now clicking on save does close the pop up (before it woul

[2021-09-08 19:25] twa127 commented on #192
Hi, updating the hysteresis time works okay for me, the system_controller table is updated with the GUI value entered

[2021-09-15 10:00] scottagecheeseandcrackers commented on #78
Big thanks to all - this HA integration coupled with the Maxair update is some piece of work.

One suggestion/request...I have set up some room sensors which provide temperature but are not themselves a zone.
Can the '/api/getZoneStatus.php?..,' requests be updated to to 'getSensor...' aswell?

[2021-09-15 10:14] dvdcut commented on #191
@JSa1987 yes i was trying to setup mysensors gateway over mqtt my python script was listening to all incoming messages but i couldnt get the loop working on outgoing messages.

i wanted to implement mqtt not just for mysensors but for all so we can expand usage of devices

[2021-09-15 10:27] twa127 commented on #78
Already there - api/getTemperature.php

[2021-09-15 10:40] scottagecheeseandcrackers commented on #78
Bingo....just what I was looking for...thanks @twa127

[2021-09-15 11:59] JSa1987 commented on #78
@scottagecheeseandcrackers have a look at #201 this implements the integration with Home Assistant over MQTT: not configuration needed on HA side and is much more powerful!!! You get a climate entity in Home Assistant for each zone in MaxAir, plus a lot of monitoring sensors for you MaxAir RPi.

If you have the Mosquito MQTT broker running on your Home Assistant all you need to do is setup a new M

[2021-09-15 12:03] JSa1987 commented on #191
@dvdcut I have started working on this. As of now I got generic MQTT temperature sensors working, you just need to specify the topic you want to listen to and the json attribute for the temperature reading.

I will now look into adding support for relays via MQTT (out going messages). I sort of have an idea of how this could be done but I haven't tried yet.

The most difficult part for me will be

[2021-09-15 13:45] dvdcut commented on #78
@JSa1987 maxair already have add-on installation process, i suggest to add add_on/HomeAssistant/install.sh in install software section

[2021-09-15 16:41] JSa1987 commented on #78
@dvdcut I noticed the option in the web interface, but haven't figured out what needs to be done to add a new installer like add_on/HomeAssistant/install.sh. Can you guide me in the right direction?

[2021-09-15 17:28] twa127 commented on #78
@JSa1987 you have already done it, by adding install.sh to the add-on directory it will be picked up by Settings/System Configuration/Install Software

[2021-09-15 19:57] pihome-shc commented on #78
@JSa1987

boiler.php is replaced by controller.php

 [install.sh](https://github.com/pihome-shc/PiHomeHVAC/blob/main/add_on/HomeAssistant/install.sh)
[code]

[2021-09-15 21:05] twa127 commented on #78
yes MaxAir has changed boiler.php to controller.php

[2021-09-16 08:41] twa127 commented on #78
@JSa1987 I've modified your install.sh to change boiler.php to controller.php and add a name and description header

[2021-09-16 11:58] JSa1987 commented on #78
@twa127 that line was a left over when I ported this from PiHome to MaxAir. In MaxAir the change to controller.php is not needed. I will upload an amended install.sh script later today.

[2021-09-16 18:08] JSa1987 commented on #78
@scottagecheeseandcrackers I have submitted a pull request (#206) that add support also to stand-alone temperature and humidity sensors to the implementation over MQTT. Give it a try and let me know if you have any feedback.

@pihome-shc / @twa127 #206 fixes also the install.sh script.

[2021-09-17 14:29] pihome-shc commented on #192
any further work required on this?

[2021-09-20 08:24] twa127 commented on #191
@JSa1987 if you can give me an outline of what you want for the web interface, I'll see what I can do

[2021-09-20 11:58] JSa1987 commented on #191
@twa127 I made some good progress on the back-end: I now have MQTT sensors and relays working. I'm currently testing it on my setup and all seems to be working fine. Unless I find any issues or problems I can submit a pull request later today or tomorrow so you can get an idea.

If you could help with the web interface or give me some guidance that would be great. The changes needed in the web int

[2021-09-20 17:43] JSa1987 commented on #191
I have submitted pull request #212 with the back end for the MQTT support.

[2021-09-21 12:03] JSa1987 opened #214 "Major issue: scheduling not working anymore"
Hello,

There is a major issue where the scheduling is not working anymore when there are multiple active zones in the schedule or multiple schedules for the zone. I think I have tracked down this issue to the changes made by @twa127 in #208 .
I believe there currently are two bugs.

**First bug**
I noticed that when a schedule has multiple active zones the same target temperature is used for all

[2021-09-21 17:49] twa127 commented on #214
thanks I'll incorporate in mysensor fix update

[2021-09-21 17:58] JSa1987 commented on #214
@twa127 once I fixed the first part of the issue a found a second part and I was editing my original post with the details when you posted the above. I will now give it a try to the fix to the second issue and feedback if it works.

[2021-09-21 18:23] JSa1987 commented on #214
I have done a little bit of testing and both fixes suggested above seem to be working fine.

[2021-09-21 20:16] twa127 commented on #191
@JSa1987 the update has broke the gateway

[2021-09-21 21:05] twa127 commented on #191
@JSa1987 I think mqtt would be better as a separate python scheduled task, which could  be enabled if the user wants to use it

[2021-09-21 21:27] JSa1987 commented on #191
@twa127 can you give me a bit more details on the issue so i can investigate? We can probably set it up so that all the additional code is skipped if the MQTT connection is not defined.

[2021-09-21 21:42] pihome-shc commented on #191
i think issue is due to missing dependency
`
pip3 install paho-mqtt python-etcd`

[2021-09-21 21:46] JSa1987 commented on #191
@pihome-shc yes... I forgot about that... `pip3 install paho-mqtt` is needed. Can we add this to the base image?

[2021-09-21 21:50] pihome-shc commented on #191
can you do some testing? after installing dependency gateway.py working without any issue but one user reported its having some other issues. not sure if it is related
https://media.discordapp.net/attachments/771326171807875136/889991380766707732/20210921_174745.jpg?width=1440&height=649

[2021-09-21 22:06] JSa1987 commented on #191
@pihome-shc I do not think that is related to MQTT, no changes were made to the code around `out_on_trigger = x[relay_to_index["on_trigger"]]`. Can you ask the user to check his `relays` table and post the output of the following SQL query?

[code]

[2021-09-21 22:16] pihome-shc commented on #191
@JSa1987 sure, i can ask the question, can you modify the [install.sh](https://github.com/pihome-shc/PiHomeHVAC/blob/main/add_on/HomeAssistant/install.sh) to include pip3 install paho-mqtt python-etcd

[2021-09-21 22:23] JSa1987 commented on #191
@pihome-shc currently there is no install.sh for MQTT support, this is just included in gateway.py. The install.sh you linked is for the HA integration (that also uses MQTT), but is a completely different feature.
Should `pip3 install paho-mqtt python-etcd` be included in `setup.php`?

[2021-09-21 22:28] pihome-shc commented on #191
@JSa1987 sorry half sleeping now, yes we can include this dependency in setup.php

[2021-09-21 22:30] scottagecheeseandcrackers commented on #78
Sorry took me some time to test this - Worked a treat for me. Hats off. Only query - the stand alone temperature sensor gives me less data than the zone data. (Mainly battery info as they aren't linked to a zone)? I had hoped that this would also work in reverse...ie. you could set up a mqtt type sensor in maxair - and mqtt messages would be logged in messages_in just like any other sensor.

[2021-09-21 22:35] pihome-shc commented on #191
https://media.discordapp.net/attachments/771326171807875136/890002986028396584/20210921_183349.jpg?width=1440&height=649

[2021-09-22 06:27] twa127 commented on #191
we have always had an mqtt service, I think we need some integration with whats already there, also gateway.py is crucial to basic system operation, so I'd like to see the mqtt code separate

[2021-09-22 09:42] pihome-shc commented on #191
Restore gateway.py #217

[2021-09-22 11:36] pihome-shc commented on #191
i have error in controller.php not sure it this is related to MQTT update.

PHP Warning:  mysqli_num_rows() expects parameter 1 to be mysqli_result, bool given in /var/www/st_inc/functions.php on line 810

[2021-09-22 11:44] JSa1987 commented on #191
@pihome-shc this is not related to the MQTT updated. The only lines that were changed in controller.php for the MQTT update are:

- Line 1604
- Line 1703
- Line 1708
- Line 1714
- Line 1836
- Line 1844
- Line 1848

For all these lines the condition in the IF has been changed from `$xxx_realy_type == 'MySensors'` to `$xxx_realy_type == 'MySensors' || $xxx_realy_type == 'MQTT' `. Just to have the MQ

[2021-09-22 11:57] JSa1987 commented on #191
@pihome-shc seems that the issue you are facing has been introduced with pull request #208 .

I have open issue #214 to report other bugs that were introduced with pull request #208 . Probably better to report this under #214 so that a bug fix for all issue introduced with pull request #208 can be pushed.

This conversation that was intended to be to discuss how to implement MQTT support is now go

[2021-09-22 14:27] dvdcut commented on #191
first of all @JSa1987 great work and very good explanation what was changed in #212.
i agree with you to implement MQTT in gateway.py file as it is serving all in one solution. if we want to keep things separate then i would suggest to have following services if we dont want to keep updating gateway.py
- MQTT
- GPIO
- MySensors
- Tasmota relays

but in the end aren't we duplicating work if we are

[2021-09-22 17:07] pihome-shc commented on #191
@dvdcut i agree @JSa1987 have done great job and great deal of effort to record each change for MQTT,
i agree if we want to manage each controller instance separate then we need separate task and script for each controller which would duplicate lot of work.
We have controller.php is the main engine for all type of controller same way we can have gateway.py as main communication engine for all the

[2021-09-22 17:23] JSa1987 commented on #191
@dvdcut I agree that or we keep all the "types" of nodes (sensors and relays) in the same "engine" or we create a "gateway" for each type. Now apart from from the duplicate work the downside I see on having separate "gateways" are:

1. Most users will probably have a mixed system with some GPIO nodes and some MySensor or maybe some GPIO and some MQTT or any possible combination. This means having

[2021-09-22 21:02] JSa1987 commented on #191
I think I might have found a nice way to handle the dependencies.

First we check if the MQTT option if enabled, if this is not the case the whole MQTT code is skipped. If the MQTT option is enabled then we try to load the modules, if these cannot be loaded when a warning is issued and the gateway carries on without enabling the MQTT option.

[code]

[2021-09-22 22:26] pihome-shc commented on #191
@JSa1987 good thinking perhaps we should implement same for other modules as well.

[2021-09-23 05:56] twa127 commented on #191
@JSa1987 are you testing this on pihome or maxair?

[2021-09-23 06:09] JSa1987 commented on #191
@twa127 I'm testing this on MaxAir

[2021-09-23 06:35] twa127 commented on #191
The system controller switching for MySensor type zones has been wrong since day 1 and was only fixed in #216, the node_id value passed to the messages_out queue was in error, can't see how it ever worked for you

[2021-09-23 09:01] twa127 opened #220 "MySensor Relays"
Hi, we have recently gained some users who have MySensor Zone and Boiler relays and this has shown up a serious issue with MaxAir. This issue has existed since day 1, and has only now surfaced.

There were 2 problems:

- the first was that in the system controller section of controller.php the message_out queue was not constructed properly, the relay ID was used instead of the node ID and hence th

[2021-09-23 10:41] twa127 commented on #191
Hi,

How about a simple change to the mqtt gateway.py to avoid the errors if the user is not using mqtt, move the import from the top of the file to post the check of the mqtt table, eg

    # Initiliaze MQTT connection if the conection has been enabled
    cur.execute('SELECT * FROM `mqtt` where `type` = 2 AND `enabled` = 1;')
    if cur.rowcount == 0:
        # If no MQTT connection has been def

[2021-09-23 10:54] pihome-shc commented on #220
no only boiler controller is expecting message from MaxAir but also zone controller, this was implemented as safety function for Zone: If Zone Controller loses connection with gateway or system crashes zone will turn off at set time. and same goes for boiler controller.

[2021-09-23 11:53] JSa1987 commented on #191
@twa127 Yes, this is exactly what I was thinking of doing and posted above. I had a `try` so that is the modules are not installed it just gives a warning (with instructions on how to install the modules) and then carries on without enabling MQTT:
[code]
I tested this yesterday evening and seems to work well, I will do some more testing and if all good I will share a draft gateway.py.

With regard

[2021-09-23 13:06] twa127 commented on #191
For count == 0, my think was if there is nothing in the mqtt table, then its not being used, so why bother with a message

The MySensor relay processing was missing the translation of relay ID to Node ID and saved the relay ID to the messages_out table, hence the gateway was writing to a wrong node id value.

@pihome-shc tells me the MySensor communication is so unreliable that it is best to keep

[2021-09-23 13:34] twa127 opened #221 "Scheduling Issue"
Hi,

seeing reports that commit #219 is causing problems, not yet been able to investigate

[2021-09-23 13:41] twa127 commented on #221
I see the problem that @JSa1987 is trying to fix but function get_schedule_status is only intended to check one schedule, the problem is real but the fix is more complex than #219

[2021-09-23 13:59] twa127 commented on #221
I think #219 should be backed out ASAP, it causes more problems than it tries to solve

[2021-09-23 14:39] twa127 commented on #221
The issue relates to instances where there is more than 1 schedule for a particular zone on a particular day. I will work on a fix for this issue, please bear with me.

[2021-09-23 14:51] pihome-shc commented on #191
i had situation from customer where UFH valve was open for very long time and it was nearly at the point of damaging the floor. hence safety was implemented in zone controller and boiler if no message received for 10 minuts reset and turn off all valves.
boiler controller have safety of delay start, i.e it only start if two on messages are received plus turn off if no message received fro 10 minut

[2021-09-23 17:10] JSa1987 commented on #191
@twa127 I checked my `message_out` table and the values listed in the `node_id` column are indeed the same values listed in the `node_id` column oft the `nodes` table. These are not the realy_id listed in the `relays` table. I guess I might have already used the fixed controller.php you have pushed.

@twa127 / @JSa1987 With regards to the having to send the message to MySensor relays at each cycle

[2021-09-23 17:26] pihome-shc commented on #191
Marking message_out sent status is job for controller.php and gateway.py will pickup this as it runs in loop, on bigger systems users can increase controller.php time from 60 seconds to what ever they fit for their need.

[2021-09-23 17:38] JSa1987 commented on #191
@pihome-shc in the current controller.php we are treating the MQTT nodes the same as MySensor nodes, see lines 1602, 1701, 1710, 1720, 1846, 1858 and 1866. If we are going to have controller.php set the sent flag to 0 for MySensors relays on each cycle then I think we should have the MQTT nodes treated the same as GPIO nodes. That would mean remove the `|| $xxx_relay_type == 'MQTT'` from the lines

[2021-09-23 17:55] JSa1987 commented on #78
@scottagecheeseandcrackers just to understand you would like to have the battery voltage and percentage added as attributes in HA for the stand alone temperature sensors? It shouldn't be a problem to implement this feature, and I can add it as I'm planning anyways to clean up a bit the code.

With regards to the second request you are talking about having MaxAir using MQTT temperature sensors and

[2021-09-23 18:07] twa127 commented on #191
Please do not do this let me fix, l already have a tested fix

Sent from my iPhone

[2021-09-24 06:27] JSa1987 commented on #191
@twa127 can you share how you handled the MQTT nodes in the fixed version so that I can have a look before you submit the pull request?

[2021-09-24 07:11] twa127 commented on #191
@JSa1987 sorry had to push the update, I was worried that the system was in a broke state

The change only effects the system controller, there is no change to the zone processing.

The change to send the message on each execution will only effect the MySensor type nodes, the MQTT type nodes (like all the other types except MySensor) will only get a message when the system controller changes state

[2021-09-24 07:29] scottagecheeseandcrackers commented on #78
@JSa1987 - on request 1 - if possible, it would be great to have temperature, battery and last seen attributes included in each published message.

On request 2 - happy to test what-ever aspect you like. I have some tasmotas running around the house which I have the added DS18x20 probes to. Though I dint have any tasmotas connected to my heating system - I could easily test a relay setup.

[2021-09-24 10:38] twa127 commented on #221
fixed in #222

[2021-09-24 10:39] twa127 commented on #220
fixed in #216

[2021-09-24 10:40] twa127 commented on #214
fixed in #222

[2021-09-24 10:45] twa127 commented on #191
#224 restores the mqtt version of gateway.py, with a check for the import of paho module, now will not error if the dependency has not been installed. Hence no obligation for non-mqtt users to install the paho module, this can be included in the mqtt instalation process.

[2021-09-24 11:12] pihome-shc commented on #221
can this issue be closed ?

[2021-09-24 11:57] JSa1987 commented on #191
I have pushed the updated gateway.py as #225

[2021-09-24 14:46] twa127 commented on #191
Can I please request that you cancel #225, I'm going to re-do #224 with the pre-mqtt gateway, so that my other changes get pushed. I'll review your #225 as best I can before you re-push

[2021-09-24 16:05] twa127 commented on #191
@JSa1987 can you post me a copy of your database please so I can see how the mqtt data hangs together

[2021-09-24 18:47] JSa1987 commented on #191
@twa127 attached is an export of my database. The only change made to support the MQTT nodes is the addition of the `mqtt_node_child` table. This table is added by `/MySQL_Database/database_updates/200921.sql`.

The **Setup** section in #212 explains a bit the logic behind the MQTT nodes.

I have just opened pull request #226 with the updated gateway.py that is to be reviewed.

[maxair.sql.zip](ht

[2021-09-24 23:55] pihome-shc commented on #191
@JSa1987
following line in sql file need to changed from
` `mqtt_topic` CHAR(50) NOT NULL COLLATE utf8_bin DEFAULT NULL COMMENT 'Relay payload for on command',`
to
` `mqtt_topic` CHAR(50) NOT NULL COLLATE utf8_bin DEFAULT 'some_text' COMMENT 'Relay payload for on command',`
otherwise the error
![image](https://user-images.githubusercontent.com/33334232/134750302-94f3cc5a-bcd8-46f3-8ca2-124072b202a

[2021-09-25 07:37] twa127 opened #227 "Add-On Software"
Hi,

I'd like to clarify how I the the 'Add-On' feature of MaxAir is intended to work:

- MaxAir has basic functionality + the ability to add extra additional functions via the use of 'Add-On'
- MaxAir should be configurable from the user interface (not the command line)
- MaxAir 'Add-Ons' are installed using the Install Software option in the System Configuration menu
- Each 'Add-On' should inclu

[2021-09-25 09:00] twa127 commented on #191
@JSa1987 thanks for the database copy, first question - how do the MQTT nodes get added to the nodes table?

[2021-09-25 11:17] JSa1987 commented on #191
@pihome-shc thank you for reporting this. Not sure what happened here as it was ok when I tested it. Anyways I amended 200921.sql and included this in #226.

[2021-09-25 13:54] twa127 commented on #191
@JSa1987 you cannot go back and amend 020921.sql, the database updates are cumulative, you need to generate a new sql file with something like ALTER TABLE mqtt_node_child MODIFY mqtt_topic char(50) DEFAULT '';

[2021-09-25 14:22] twa127 commented on #191
@JSa1987 another issue - MaxAir is capable of running on a number of SBCs eg. Orange Pi and Pine, HA_HVAC_integration.py has an Rpi specific import at line 13

from rpi_bad_power import new_under_voltage

[2021-09-25 14:33] JSa1987 commented on #191
@twa127 This thread is related to the implementation of MQTT Nodes in the MaxAir core system.
Can I please ask you use different threads to discuss different topics and issues especially if there are related to completely different features and functionalities? It is becoming very difficult to follow these discussions.
If you open a new thread for this issue related to the Home Assistant Integrati

[2021-09-25 14:44] twa127 commented on #191
@JSa1987 with respect the title of this thread is "MQTT integration for MaxAir", if you look at the system requirements for MaxAir it is specified to run on a range of SBCs, this implementation of MQTT does not meet those requirements and I will resist its deployment until it does.

[2021-09-25 14:56] JSa1987 commented on #191
@twa127 you are confusing two different things.

This thread is related to the add of MQTT Nodes support to the **MaxAir core**. The pull request associated with this are #212 and #226. The files added or changed by these pull requests are:
- cron/gateway.py
- add-on/MQTT_dependencies/*
- MySQL_Database/database_updates/200921.sql

You are now referring to the Home Assistant integration for MaxAir

[2021-09-25 15:06] twa127 commented on #191
@JSa1987 I'm happy to argue this wherever you like, I'll raise the same point in #201

[2021-09-25 15:22] JSa1987 commented on #191
With regards to the web interface to add new nodes including MQTT nodes below if what I would envision.
Each MQTT node can either be a Sensors node or a Controller Node. In addition, each MQTT node will have one or more Child Devices for which a couple of parameters need to be defined.
If the MQTT node type is selected then additional fields would be needed:

- MQTT Topic - Free text entry
- MQTT

[2021-09-25 22:03] JSa1987 commented on #78
@scottagecheeseandcrackers I tired to implement request 1 and made a couple of other adjustments.
We now have the "last seen" attributes for all zones and stand alone sensors. In addition, we should have the battery voltage and percentage for stand alone MySensors but I cannot really test this as I don't have a spare MySensors. If you don't mind could you please give this a try and feedback if it

[2021-09-26 17:46] twa127 commented on #78
Can I just state what is the problem for me -

- MaxAir can be offered as a turn-key solution, so that users can plug and go
- MaxAir is designed so that users do not need command line access
- Maxair Add-Ons are provided to add extra functionality
- MaxAir Add-Ons are installed from the user interface, again without the need for command line access
- MaxAir Add-ons should install all prerequisite

[2021-09-26 18:08] JSa1987 commented on #78
@twa127 Home Assistant would be run on a dedicated separate hardware. Home Assistant is a way to control all the different "smart" devices in the house from one centralized interface, and allows create logics to automate the control of such devices. I wouldn't see why a user would expect MaxAir to provide Home Assistant running on the same SBC. For a Home Assistant user MaxAir is a "device" the sa

[2021-09-26 18:39] twa127 commented on #78
I take yor point, but there is a difference - because the Echo is an internet connected device both the fauxmo and homekit services will not fall over it the echo goes off line, this is not the case for the ha_integration service, which will be trying to connect to a non-existent server.

Also I still think my point with regards to user expectations is still valid, a none 'expert' user (me in the

[2021-09-26 18:43] JSa1987 commented on #78
Ok, I agree that we should specify that this add-one requires the user to have Home Assistant running on a separate device. I will edit the ReadMe to reflect that.

[2021-09-26 19:05] JSa1987 commented on #78
@scottagecheeseandcrackers if you want to try the latest version please use the file attached. I made a few changes.
[HA_HVAC_integration.py.zip](https://github.com/pihome-shc/PiHomeHVAC/files/7232060/HA_HVAC_integration.py.zip)

[2021-09-26 19:08] twa127 commented on #78
sounds good to me, can I also request -

- install.sh checks if python3-dev need to be installed
- HA_HVAC_integration.py is modified for non Pri devices where new_under_voltage() returns None
- you check that the code at line 83 cur.execute('SELECT frost_temp FROM sensors WHERE sensor_id = (%s)', [row[1]]) works okay for zones where no sensor is attached

[2021-09-26 19:44] JSa1987 commented on #78
@twa127 I have been working on all the changes you suggested:

- install.sh checks if python3-dev need to be installed
- install.sh installs rpi_bad_power only on Raspberry Pi
- If rpi_bad_power cannot be loaded or if new_under_voltage() returns `None` then CHECK_RPI_POWER is set to false and binary sensor flagging power supply issues is disabled (i.e. new_under_voltage() won't be used)
- Line 86

[2021-09-26 20:21] scottagecheeseandcrackers commented on #78
@JSa1987 - running "...integration.py" generated an error:

[code]

[2021-09-26 20:32] scottagecheeseandcrackers commented on #78
Sorry should have added....that was the latest zip file I used.

[2021-09-26 21:11] JSa1987 commented on #78
@scottagecheeseandcrackers thank you for the feedback. I found a variable that was getting re-assigned and that would have caused that error in case there are multiple stand-alone sensors in MaxAir. Is that your case?

This should be fixed in the version attached, but I have no way to test it as  have only one stand-alone sensor. Please give it a try when possible and let me know if you have any i

[2021-09-26 21:14] twa127 commented on #78
@JSa1987 will test as best I can, need to build a HA server, but will do that.

One thing about  rpi_bad_power is that it can be installed on OPi okay, so no need for import check, just returns a None value, so can you code around that in get_rpi_power_status()

[2021-09-26 21:26] scottagecheeseandcrackers commented on #78
Working well:

Here is the the return messages:

![image](https://user-images.githubusercontent.com/16407242/134824638-3641a869-4078-4dea-9925-ed96c815903f.png)

New attributes added for all sensors to include last seen but battery data noly showing for sensors alloacted to a zone.

Kitchen and MasterBedroom sensors are both MySensors - and neither are allocated to a zone.

[2021-09-26 21:32] JSa1987 commented on #78
@scottagecheeseandcrackers I just noticed that on line 122 there is a space that is not supposed to be there. Try to change `MA_Sensor_Type .append(description_to_index_nodes["type"])` to `MA_Sensor_Type.append(description_to_index_nodes["type"])`

[2021-09-26 21:47] scottagecheeseandcrackers commented on #78
@JSa1987 - line 122 fix implemented - but no change.

Checked by DB - sensor type is defiantly set as 'MySensor'.

![image](https://user-images.githubusercontent.com/16407242/134825292-b71d1d3a-c414-492d-b9f8-b3cae2b5eb47.png)

But it seems that they are only reporting the 'last_seen' attribute:

[code]

[2021-09-27 06:33] JSa1987 commented on #78
@scottagecheeseandcrackers ok, I found the issue. This was on line 122 where I was assigning to `MA_Sensor_Type` the column index instead of the column value. This is fixed in the attached file.

[HomeAssistant.zip](https://github.com/pihome-shc/PiHomeHVAC/files/7233899/HomeAssistant.zip)

[2021-09-27 06:37] twa127 commented on #191
Do you think it might be an idea to do this in a similar way to Nodes and Zone Configuration/Add-On HTTP

[2021-09-27 06:55] JSa1987 commented on #191
Yes, that was exactly my thought. I was thinking of taking zone.php as a starting point and creating a node.php.

[2021-09-27 08:04] twa127 commented on #191
zone.php is probably not a good place to start, it has grown quite complex over the years and its storage of data is via a page submit request. The 'normal' approach to this type of data input is to create a model for the input screen, then call a javascript routine saved in js/request.js, this would scrape the data from the model screen, build a message and call db.php. db.php handles the databas

[2021-09-27 09:11] scottagecheeseandcrackers commented on #78
Bingo - All sensors and attributes are reading perfect.
![image](https://user-images.githubusercontent.com/16407242/134879353-bf5a0c13-e200-4adb-98c1-3142939c8ab0.png)

Working well - I'll do a few more test's - such as publishing a boost command and report back.

[2021-09-27 09:37] twa127 commented on #191
are there any specific configuration sets that need to be applied to the HomeAssistant server, if so perhaps these should be in the ReadMe?

[2021-09-27 12:12] scottagecheeseandcrackers commented on #78
@JSa1987 - Okay - initial testing...

I have tried setting a boost but no joy. I have tried publishing the following messages:
{"hvac_action":"heating","temperature":"70","aux_heat":"ON"}
{"hvac_action":"heating","temperature":"70"}
{"aux_heat":"ON"}
But no change in MaxAir gui. After a 30 seconds or so - MaxAir just publishes a new message noting no changes.

I have manually run a boost - using t

[2021-09-27 14:33] JSa1987 commented on #78
@scottagecheeseandcrackers I have tested the functionality of triggering the boost function quite extensively and it always work well. Reading you post my understanding is that you are trying to trigger this manually publishing a MQTT message is that correct?
As each MaxAir zone is represented in Home Assistant by a climate entity the easiest way to trigger the boost for a zone is from the Lovelac

[2021-09-27 21:13] scottagecheeseandcrackers commented on #78
Cheers @JSa1987  - this clears things up. Yes - manually publish messages to this topic did the trick for me.

Apologies - I'm stretching this issue category further away from Home Assistant. Until recently I had HA running on a spare RPI. I recently swapped over to homebridge - as the integration with Google Home Assistant was much much simpler (and free).

I'm probably mis-using your intended in

[2021-09-27 22:20] JSa1987 commented on #191
Starting with a fresh Home Assistant installation you will need to install Mosquito Broker from the Add-on Store. In the Mosquito Broker configuration (Supervisor > Mosquito Broker > Configuration) you will need to define login (username & password) for MaxAir. This is the username and password that needs to be added in MaxAir (Settings > System Configuration > MQTT). Below is an example of a basi

[2021-09-28 12:25] twa127 commented on #191
@JSa1987 in your add node example screen examples above do the + next to the Jason attribute and On Message input boxes mean that you want to be able to add multiple entries (the + on the Add Zone screen is to enable multiple controllers to be added to a single zone)?

[2021-09-28 14:21] twa127 opened #228 "Proposed Change to mqtt_node_child table and gateway.py"
Hi,

I'd like to propose the following change

1. change field node_id in table mqtt_node_child to nodes_id (the data in the field will be the nodes table id and not as currently the node_id).
2. Add a FK constraint on the nodes_id field in table mqtt_node_child
3. Change gateway.py set_relays related code to uses the id value from the nodes table and not the node_id value

[2021-09-28 15:15] twa127 opened #229 "Unsafe database update #226"
database update 250921.sql makes a table change by dropping the table and hence any data it contained, rather than making a table alteration

[2021-09-28 17:41] JSa1987 commented on #191
@twa127 The way I have this setup as of now is that an MQTT node  is associated to an MQTT topic and this can either be a sensor node or a controller node. In both cases the code supports one or more child devices per node.

For a MQTT sensor node this could for example be a child for a temperature sensor and a child for a humidity sensor of the same physical device. Assuming that the values for b

[2021-09-28 18:15] twa127 commented on #191
@JSa1987 no that's fine, multiple child ids associated with a single node id should be no problem, that's why I'm proposing that the association between the tables should be against the nodes table primary key

[2021-09-28 18:53] twa127 commented on #191
@JSa1987 can you please try the attached, changed linkage between mqtt_node_child and nodes. Should update you existing mqtt_node_child and update data as required. gateway.py change made on your latest version

[gateway.zip](https://github.com/pihome-shc/PiHomeHVAC/files/7246635/gateway.zip)

[2021-09-28 19:38] JSa1987 commented on #191
@twa127 I had to change also line 167 so that the new database structure work also for MQTT sensors. See attached.

[gateway.zip](https://github.com/pihome-shc/PiHomeHVAC/files/7246809/gateway.zip)

I have run the SQL code that edit the database structure as expected. I have tested gateway.py with my additional change to line 167 and I ca confirm that both MQTT sensors and MQTT relays work.

If yo

[2021-09-28 19:44] twa127 commented on #191
@JSa1987 thanks for testing, yes please add to #230, do you want to reformate with python black to tidy up the file

[2021-09-28 20:27] JSa1987 commented on #191
@twa127 will do.

Do we need to change also st_inc/db_config.ini as follow to get 280921.sql deployed?
[code]

[2021-09-28 20:47] twa127 commented on #191
@JSa1987 sorry another question, would we have multiple MQTT Sensor and MQTT Controller entries in the nodes table?

[2021-09-28 20:49] twa127 commented on #191
yes please, the idea behind db_config.ini is that we update it with each update

[2021-09-28 20:52] JSa1987 commented on #191
@twa127 that was my initial thought that if the user has multiple physical devices connected via MQTT there would be different nodes (one for each of them). However, now that you mention it I see also the idea of seeing the MQTT nodes as "virtual" nodes, having only 1xMQTT Controller Node and 1x MQTT Sensor Node, and add the physical devices just as child devices. What are your thoughts on this?

[2021-09-28 20:54] twa127 commented on #191
that could make life easier so long as it works for you

[2021-09-28 20:56] JSa1987 commented on #191
Ok, I will have a look at it tomorrow more in details to see if there is any downside or if any change is needed in the gateway code.

[2021-09-30 09:45] twa127 commented on #191
@JSa1987 can you see what you think of the attached please. I've approached this in the same way as the Sensors and Relays, you will find an HA option in the Settings/Node and Zone Configuration menu. Step 1 is to use the existing Nodes/Add Node gui to add your MQTT nodes, then opening the HA option will show a list of any existing child devices, with the option to Edit or Delete, a button is avai

[2021-09-30 10:47] pihome-shc commented on #229
@twa127 i think we have to modify exiting database, i know this is no the right way to do as system already deployed have this applied but to avoid future deployments its best to modify but open to suggestions

[2021-09-30 12:19] twa127 commented on #229
Yes, just trying to make the point that this is not the way to change the database, updates are meant to be cumulative and not damage any existing data, this can hopefully always be achieved through the SQL contained in the update. Obviously dropping a table without already having moved the data could result in a user having to rebuild their configuration.

[2021-09-30 15:27] twa127 commented on #191
@JSa1987 question - the in and out messages are of the format {"force": "close"}, do the have to use " as this is causing me some issues.

[2021-10-01 06:48] twa127 commented on #191
updated with working EDIT mqtt_node_child

[web interface.zip](https://github.com/pihome-shc/PiHomeHVAC/files/7264783/web.interface.zip)

[2021-10-01 07:16] twa127 commented on #191
Updated with working EDIT mqtt_node_child table

[web interface.zip](https://github.com/pihome-shc/PiHomeHVAC/files/7264944/web.interface.zip)

[2021-10-01 08:47] twa127 commented on #228
Change made in #230

[2021-10-01 08:47] #228 closed

[2021-10-01 08:47] twa127 commented on #221
Fixed

[2021-10-01 08:47] #221 closed

[2021-10-01 08:48] #220 closed

[2021-10-01 16:49] JSa1987 commented on #191
@twa127 thank you for working on this! I had started working on model.php as you suggest but I was not getting anywhere.
I really do like the idea of how you have this setup.
I have a few points to feedback hopefully easy things to change as I have the impression you have already done most of the work.

**Node and Zone Configuration > Add Node**
![Add Node](https://user-images.githubusercontent.co

[2021-10-01 19:30] JSa1987 commented on #229
@twa127 this was done this way only because at the time nobody was using the features based on that table. The actual code using the table had not yet been pushed.

[2021-10-01 19:33] JSa1987 commented on #191
@twa127 making the changes above was easier than I expected. Attached is an updated version.
I think now we have all the functionalities needed. I just need a bot of time to test it well.
If you want to have a look and/or test it please let me know if you have any feedback.
[web_interface.zip](https://github.com/pihome-shc/PiHomeHVAC/files/7269720/web_interface.zip)

[2021-10-01 20:30] twa127 commented on #191
@JSa1987 that's looking good, one suggestion can we change the table name to mqtt_devices

[2021-10-01 20:47] twa127 commented on #191
Added the grey out of the child_id entry box, also added it to the Onetouch menu

[web interface.zip](https://github.com/pihome-shc/PiHomeHVAC/files/7270071/web.interface.zip)

[2021-10-01 21:44] twa127 commented on #191
tweak to the add node model to compact the input fields

[model.zip](https://github.com/pihome-shc/PiHomeHVAC/files/7270256/model.zip)

[2021-10-02 10:52] twa127 commented on #229
@JSa1987 take your point, but because the database updates are cumulative and we will never know what stage of updates a user has applied, then there is a possibility that 200921.sql has been applied, the user has then added data and then later applied 250921.sql and hence looses the data. Could have been simply avoided by modifying the original table format, rather than re-creating it.

The aim w

[2021-10-02 10:52] #229 closed

[2021-10-03 20:16] JSa1987 commented on #191
@twa127 I made all the adjustments need to change the table name to mqtt_devices. I have changed a bit the logic so that the first available child_id is assigned when a new MQTT device is created. I have also adjusted a couple of labels.

[web_interface.zip](https://github.com/pihome-shc/PiHomeHVAC/files/7274462/web_interface.zip)

From my side this is ready now, let me know if you have any additi

[2021-10-04 06:17] twa127 commented on #191
@JSa1987 looks okay to me, I'm happy to see this deployed, great addition to MaxAir

[2021-10-06 19:48] #214 closed

[2021-10-07 20:00] JSa1987 commented on #78
@scottagecheeseandcrackers we now have support in MaxAir for MQTT sensor and MQTT relays (see #226 and #232). I believe this is one of the features you were talking about above.
The [setup guide](https://github.com/pihome-shc/PiHomeHVAC/blob/main/documentation/pdf_format/setup_guide_BOILER_mode.pdf) has been updated with instructions on how to set this up.

[2021-10-09 08:38] JSa1987 commented on #191
Ok, I was not aware of that. Let me know what is the current policy and in case we can change it to using an empty string instead of a NULL. Would just require small changes to mqtt_device.php and gateway.py.

[2021-10-09 13:40] JSa1987 commented on #191
Ok, in this case then we will store in the database a empty string as attribute for the MQTT sensors that send raw data (instead of NULL).
@scottagecheeseandcrackers please try using the attached mqtt_device.php and gateway.py.
[mqtt_sensor_raw.zip](https://github.com/pihome-shc/PiHomeHVAC/files/7315703/mqtt_sensor_raw.zip)

[2021-10-09 13:53] scottagecheeseandcrackers commented on #191
@JSa1987 - bingo. Latest update to mqtt_device.php and gateway.py worked. Only functionality that I noticed that was off - is the ability to edit the Mqtt devices. When I click on the edit icon it starts the process of creating a new device with the next id number.

[2021-10-09 14:05] JSa1987 opened #235 "Duplicate zones in Home List"
Hello,

I have noticed that when a zone has more than one relay assigned (for example a circulation pump and radiator valve) the zone is listed multiple times on the dashboard on the home page. See for example "Living Room" in the screenshot below.
![Homelist](https://user-images.githubusercontent.com/62815008/136660627-8a6560b2-28e5-4c13-849b-91d667444a47.png)

This is because the zone will have

[2021-10-09 18:32] twa127 commented on #235
perhaps a better solution to the first issue is

$query = "SELECT `zone`.`id`, `zone`.`name`, `zone_type`.`type`, `zone_type`.`category` FROM `zone`, `zone_type` WHERE (`zone`.`type_id` = `zone_type`.`id`) AND (`zone_type`.`category` = 0 OR `zone_type`.`category` = 3) ORDER BY `zone`.`index_id` ASC;";

The 2nd issue is a bit more complex, should the zone error if any one controller is in error?

[2021-10-09 18:50] JSa1987 commented on #235
Yes, I believe that is correct... with the current setup we won't know which controller caused the fault flag.

I will try to edit line 153 as you suggested and change line 303 to `<p>Zone Controller last seen at '.$controler_seen.' </p>`and see how it works.

[2021-10-09 21:44] twa127 commented on #235
@JSa1987 I think your solution for the error condition is probably the way to go, any controller failure on the zone will shut it down, just a bit more difficult to trace the faulty controller

[2021-10-10 08:10] JSa1987 commented on #235
I have submitted pull request #237 with the fix for this.

[2021-10-10 15:35] JSa1987 commented on #235
@twa127 I tired the last one and works well. I closed pull request #237 so that you can submit this.

[2021-10-10 16:17] twa127 commented on #235
Okay will do

[2021-10-10 20:50] scottagecheeseandcrackers commented on #191
@JSa1987 - That seems to have done the trick - thank you. Separate question - is there a way to use the MQTT option in MaxAir to use multiple add-ons. At the moment it seems that you have to choose between the Home Assistant Add-on, Tasmota or Mqtt Node. ![Screenshot_20211010-214608_Chrome.jpg](https://user-images.githubusercontent.com/16407242/136712632-a5046edc-0fad-4eaf-83c8-c49d80db5f51.jpg)

[2021-10-15 17:56] twa127 commented on #78
@scottagecheeseandcrackers I wonder if #240 is causing the problem, if you have any sensors which have the attribute field in table mqtt_devices set to NULL these need to be changed to an empty string

[2021-10-15 18:54] JSa1987 commented on #78
Unfortunately I won't have access to my computer to properly look at this until later next week.
Quickly looking at the code I think this could happen in case one of the sensors (maybe linked to a zone) does not have any record in the message_in table.
I think a check needs to be implemented to first check if there is any record to be processed.

[2021-10-15 18:55] scottagecheeseandcrackers commented on #78
Thanks @twa127 - even without Home Assistant running the add-on should be spitting out data for each zone and sensor via MQTT. The service seems to be stopping due to an error before that can happen. Bearing in mind it was functioning perfectly up to this point.

[2021-10-15 19:03] twa127 commented on #78
@scottagecheeseandcrackers so I need to install the mqtt broker?

[2021-10-15 19:29] twa127 commented on #78
I'll leave the experts to fix that one :-)

[2021-10-16 14:48] twa127 commented on #78
@scottagecheeseandcrackers I'm not at all familiar with how you are using MQTT, but guessing that your problems relate to the Hallway sensor, which is showing 0.0 on the Home screen. If this is an external sensor, the perhaps it would be worth looking at 'Importing Sensor Readings' in the documentation, the idea is to create entries in the messages_in table for external devices.

[2021-10-17 13:07] twa127 commented on #78
@scottagecheeseandcrackers I've setup a WeMos D1 Mini running the Tasmota software, connected a DS18b20 and can read the temp okay, how do I configure MQTT to mimic your setup?

[2021-10-17 13:16] scottagecheeseandcrackers commented on #78
Sorry @twa127 - delayed response to your last few comments. Im just trying to get a feel for where you are in tbe process- Have you set up an MQTT broker? Also have you linked it in MaxAir?

[2021-10-17 14:00] twa127 commented on #78
yep and gateway.py connects to it okay

[2021-10-17 17:05] scottagecheeseandcrackers commented on #78
In my case I have a tasmota relay with a temp probe attached. It spits out temps every 5 mins to the topic  "tele/hallway.light/SENSOR".

Here is the message it outputs -

{"Time":"2021-10-17T14:32:57","DS18B20":{"Id":"012032E883F6","Temperature":17.5},"TempUnit":"C"}

I've set up a few MQTT sensors using the Maxair documentation. All my raw data mqtt sensors are working fine. For the tasmota sens

[2021-10-17 18:21] twa127 commented on #78
My WeMos is setup the same way I get

{"Time":"2021-10-17T19:15:10","DS18B20":{"Id":"F3A49D1964FF","Temperature":26.4},"TempUnit":"C"}

I'll have a play around

[2021-10-17 22:36] twa127 commented on #78
looks good, works on my test setup

[2021-10-18 18:40] JSa1987 commented on #78
I have opened pull request #246 with the updated gateway.py that supports MQTT sensors that send data in a nested JSON format.

[2021-11-10 20:25] scottagecheeseandcrackers commented on #78
@JSa1987 - some advice needed. I lost connection on my raspi running maxair recently. Not ultimately sure why, but some reason, the HA_integration stopped running. Below is what the service reported :

`root@maxair:~# systemctl status HA_integration.service           ● HA_integration.service - Home Assistant Integration
   Loaded: loaded (/etc/systemd/system/HA_integration.service; en   Active: fa

[2021-11-11 13:24] twa127 commented on #78
@scottagecheeseandcrackers you could try adding

Restart=on-failure
RestartSec=5s

under the [Service] of  file /etc/systemd/system/HA_integration.service
save then issue the commands

systemctl daemon-reload
systemctl restart HA_integration.service

[2021-12-21 15:16] JKTechBrno opened #287 "Buttons + sensors not working"
hello, im trying to click on some buttons like update or install software but nothing happens. And i also tried to add temp sensor, i have DS18B20 but it cant find it..

[2021-12-22 12:44] pihome-shc commented on #287
@JKTechBrno can you add more information please,
can you read DS sensors from shell command? what version you are running?

[2021-12-22 13:57] JKTechBrno commented on #287
I just made completly new install, fresh cloned repozitory so i guess its latest version, run setup.php all finished without error.
Im running on MariaDB, php 7.4 on Apache.

Then i just logged in and it just not working. Yes i can read sensors from shell. And when i click on install soft, nothing happens, no request, no error in console.

[2021-12-23 19:32] scottagecheeseandcrackers opened #290 "Change to MQTT password encryption is causing error in gateway.py"
(Code Version  1.4   - Code Build  221221  - DataBase Version 1.0  - DataBase Build 261121 )

After installing pull request #286 - gateway.py returns the following:

root@maxair:/var/www/cron# python3 gateway.py

   |  /  |                    /\     ()
   | \  / |    _        /  \
   | |/| |  / ` | \ / /   / /\ \   | | | '__|
   | |  | | | (| |  >  <   / __ \  | | | |
   ||  ||  _,| //_\ //    _\

[2021-12-23 22:05] pihome-shc commented on #290
does that mean user need to disable and enable MQTT? it could be that update applied but exiting system still having clear text password saved.

[2021-12-24 09:41] scottagecheeseandcrackers commented on #290
Steps I took to resolve are as follows per advice from @twa127 :

- Disable mqtt connections
- Clear and re-type password for each mqtt connection
- Enable all mqtt connections again.

Once I did this...the system went straight back to normal operation.

Just a thought - would it be possible to add Gateway.py to the job status list - so that you can see if it is running correctly?

[2021-12-24 10:59] twa127 commented on #290
Fixed in commit #291

[2021-12-24 11:03] twa127 commented on #287
You need the LAMP stack installed as a pre-requisite, there is an RPi DropBox image available at https://www.dropbox.com/s/yvudvo3amen7t3k/RPI_MaxAir_1_4_131221_no_hotspot_bullseye.zip?dl=0

[2021-12-24 11:21] twa127 commented on #290
@scottagecheeseandcrackers the reason that gateway.py is not in the Jobs list is that it is not a scheduled task but runs continually. To check the current status use the GUI in Settings/Node and Zone Configuration/Gateway

[2022-01-01 22:37] pihome-shc commented on #290
can we close this issue if no further action required ?

[2022-01-01 22:38] pihome-shc commented on #287
can we close this issue if no further action required ?

[2022-01-01 22:40] pihome-shc commented on #235
can we close this issue if no further action required ?

[2022-01-01 22:43] pihome-shc commented on #152
closing; so far update process proved to be working as expected

[2022-01-01 22:43] #152 closed

[2022-01-01 22:55] twa127 commented on #290
I vote yes

[2022-01-01 22:55] twa127 commented on #287
I vote yes

[2022-01-01 22:56] twa127 commented on #235
I vote yes

[2022-01-01 23:04] #235 closed

[2022-01-01 23:04] #287 closed

[2022-01-01 23:04] #290 closed

[2022-01-01 23:05] pihome-shc commented on #192
can we close this issue if no further action required ?

[2022-01-01 23:05] pihome-shc commented on #116
can we close this issue if no further action required ?

[2022-01-02 09:01] twa127 commented on #192
I think @JSa1987 was happy after re-loading from the Dropbox image file, I vote close.

[2022-01-02 22:47] #192 closed

[2022-01-14 11:03] scottagecheeseandcrackers commented on #78
I just noticed that the mode settings in HA are a bit jumbled. The script is confusing boiler mode with hvac mode. After a bit of searching - I think line 76 of the python script is the issue.

For instance I'm currently using boiler mode with button control instead of cyclic. In the system table - this is defined as mode 2 - which is outside the range of the script.

 ​# Get MaxAir mode (0 - Boil

[2022-01-14 12:46] JSa1987 commented on #78
I have also noticed there is something that is not exactly right. I will try to have look at it this weekend.

[2022-01-14 12:55] twa127 commented on #78
Add a new line after line 77

MA_Mode = MA_Mode & 0b1

[2022-01-16 19:03] pihome-shc opened #302 "Releases 1.5"
There are over 200 changes to MaxAir since Last release version 1.5 to name few of major changes:

## Highlights in This Release

- Add new feature ‘Pump Relays’ for control of external pumps.
- Suppress Sunset/Sunrise option for Night Climate scheduling. + Add documentation for Night Climate Scheduling.
- Encrypted SMTP password stored in database. + Encrypt MQTT connection password. + Added pass

[2022-01-26 11:14] twa127 commented on #191
@JSa1987 @scottagecheeseandcrackers #308 applies the Relay Triggers setting as a replacement for the existing state check - if out_payload == "1": and hence for any existing setups using MQTT relays, the Trigger should be set to HIGH in the GUI, so that your system continues to function as before.

[2022-02-03 13:57] #302 closed

[2022-09-08 08:20] pihome-shc commented on #78
can we close this?

[2022-09-08 08:20] #116 closed

[2022-09-08 08:21] pihome-shc commented on #227
can we close this?